*{
margin:0;
padding:0;	
	
}

.header{
	height:60px;
	background:#ffffff;	
	
}
.search{
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #000;
    
	
	
	
}


.glyphicon-search{
    
    color: gray;
    position: relative;
    left:5px;
    top:5px;
}

.size{
    
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    left: -25px;
    margin-left: 15px;
    
}
.prf-img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: relative;
    top:-6px;
    right: -10px;
}

.hf-img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top:-10px;
    margin-right: -20px;;
    right: 300px;
}

#faces{
    position: relative;
    top:35px;
    left: -390px;
    font-weight:bold;
    
    
}
#home{
    
    position: relative;
    left: -5px;
    
}

#logo{
	width:50px;
	height:50px;
	margin-top:-12px;
	
	
}